.ListItems{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.ListItems h3{
    width: 200px;
}
.ListItems button{
    height: 20px;
    background-color: #ced6ebee;
    border-radius: 5px;
}
.taskname.done{
    text-decoration: line-through;

}
.items{
    display: flex;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
}


